.header1{
    background-color: var(--white)
}

.logo2{
    height: auto;
    width: 100%;
    text-align: center; 
}

.login1{
    padding-right: 120px;
}
.login_senha{
    text-align: center;
    padding-right: 120px;
}
.section1{
    text-align: center;
}
.email1{
    padding: 10px;
    padding-right: 75px;
}
.email{
    padding-right: 60px;
}
.email2{
    text-align: center;
    padding-left: 10px;
    padding-top: 2%;
    
}

.senha{
    text-align: center;
    padding-left:600px ;
    padding-right:600px ;

}

.button{
    padding: 10px;
    
}
.button2{
    padding-bottom: 500px;
}
.lore {
    text-align: left;
    padding-left: 40%;
}
a {
    text-decoration: none;
}
.ajuda{
    padding-top: 2%;
    padding-right: 270px;
}
.novo{
    padding-top: 5%;
}
.criar_conta{
    padding-top: 2%;
}
.footer{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 2%;
}
.footer2{
    text-align: center;
    padding-top: 5%;
}