.container4{

    color: black;
    height: 50px;
    margin: 20px;
    margin-right: 400px;
    padding: 0;
    box-sizing: border-box;
    position: relative;

}
.container5{
    margin-top: 250px;
    margin-right: 20px;
    margin left: 15px;
    height: 500px;
    width: 930px;
    background-color: white;
    
}
.container6{
    margin-top: 250px;
    margin-right: 20px;
    height: 200px;
    width: 366px;
    background-color: white;
    text-align: center;

} 
.container7{
    margin-top: 470px;
    margin-right: 20px;
    margin-left: -386px;
    height: 400px;
    width: 366px;
    background-color: white;

}
.container8{
    height: 80px;
    width: 932px;
    background-color: white;
    margin-top: 765px;
    margin-left: -1337px;
}
.produtos_imagens{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.preço{
    text-align: end;
}
.borda{
    display: flex;
    position: relative;

}
.borda1{
    display: flex;

}
h2{
    font-size:20px ;
}
h3{
    font-size: 10px;
}
.imagem_tv{
    position: relative;
}
.imagem_suporte{
    margin-top: -5px;
}

.texto_tv{
    margin-top: 25px;
    padding-left: 10px;
}
.texto_suporte{
    margin-top: 5px;
    padding-left: 10px;
}
.texto_colorido{

    display: flex;
    height: 10px;
}
.texto_colorido1{
    background-color: orange;
}
.texto_descolorido{
    background-color: white;
    padding-left: 5px;
}
.texto_geral{
    padding-top: 30px;
}
.texto4 button{
    background-color: rgb(255, 239, 14);
}
.preço1{
    padding-left: 100px;
    padding-top: 20px;
}
.preço2{
    padding-left: 280px;

}
.preço_total{
    padding-left: 650px;
}
.checkbox1{
    display: flex;
}
a{
    text-decoration: none;
}
